body {
    background-color: black;
    color: white;
}

#mode-button {
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
}

.icon-light-mode{
    transition: 1s;
    color: black;
}

.light-mode {
    background-color: white;
    transition: 1s;
    color: black;
}

#profile-photo {
    height: 250px;
    width: 250px;
    margin-top: 50px;
    border-radius: 130px;
}

p {
    font-size: 40px;
    font-family: 'Comfortaa';
}

h1 {
    font-family: 'Archivo Black';
    font-size: 50px;
    margin: 50px 0px;
    margin-bottom: 0px;
}

#profile-intro-container {
    background-color: rgb(222, 112, 255);
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

#profile-intro-text,
#project-text {
    font-family: 'Comfortaa';
    color: black;
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
}

#profile-text-container {
    max-width: 600px;
    margin-right: 50px;
}

span {
    color: white;
}

#hajimemashite {
    color: black;
    font-weight: 100;
}

#computer-image,
#project-image,
#skillset-image {
    height: 300px;
    width: 300px;
}

#project-header-text {
    color: black;
    font-size: 30px;
    font-weight: 800;
}

#project-intro-container {
    background-color: rgb(112, 255, 160);
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

#project-text-container {
    max-width: 600px;
    margin-left: 50px;
}

#github-link {
    color: black;
    text-decoration: none;
}

#skill-intro-container-outer {
    background-color: rgb(112, 188, 255);
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 60px 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

#skill-intro-container-inner {
    max-width: 600px;
    margin-right: 50px;
}

#html-image,
#js-image,
#c-image,
#cpp-image,
#python-image,
#mysql-image,
#firebase-image {
    height: 150px;
    width: 150px;
}

.skill-images-container {
    height: 150px;
    width: 150px;
    margin: 30px;
    display: inline-block;
}

.skill-text {
    font-family: 'Comfortaa';
    color: black;
    font-size: 30px;
    margin: 10px 0px;
    font-weight: 800;
    text-align: center;
}

#js-text {
    width: fit-content;
    margin-left: -10px;
}

.contact-details-container-inner {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 60px;

}

.contact-details {
    font-family: 'Comfortaa';
    margin: 0px 40px;
    font-size: 40px;
}

a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 980px) {
    #profile-intro-container {
        width: 87%;
    }

    #project-intro-container {
        width: 87%;
    }

    #skill-intro-container-outer {
        width: 87%;
    }
}